In [5]:
#escape sequence charachter (to add new line)
print("i am a good boy\nand he is also a good boy")

i am a good boy
and he is also a good boy

In [1]:
print ("akki is my name","my age is 23")

akki is my name my age is 23

In [3]:
print (35+42)

77

In [13]:
name = "akki"
age = 23
price = 25.99
print (name)
print (age)
print (price)

akki
23
25.99

In [15]:
print (type(name))
print (type(age))
print (type(price))

<class 'str'>
<class 'int'>
<class 'float'>

In [17]:
age = 23
old = False
a = None
print (type(old))
print (type(a))

<class 'bool'>
<class 'NoneType'>

In [23]:
#arithmetic operators
a = 5
b = 8
sum = a+b
print(sum)
print (a+b)
print (a-b)
print (a*b)
print (a/b)
print (a%b)

13
13
-3
40
0.625
5

In [33]:
#relational/comparison operators.
a = 50
b = 20

print(a==b)
print(a!=b)
print(a>=b)
print(a>b)
print (a<=b)
print (a<b)

False
True
True
True
False
False

In [39]:
#assingment operators
num = 10
num *=num +10
print ("num:",num)

num: 200

In [41]:
#logical operators
a = 50
b = 30
print (not False)
print (not(a>b))

True
False

In [45]:
#and/or operator
val1 = True
val2 = False
print("AND operator:",val1 and val2)
print("OR operator:",val1 or val2)

AND operator: False
OR operator: True

In [49]:
input("enter your name:")
print ("welcome",name)

enter your name: akki

welcome akki

In [51]:
name = input("enter name:")
age = int(input("enter age:"))
marks = float(input("enter marks:"))

print("welcome",name)
print("age=",age)
print("marks=",marks)

enter name: akki
enter age: 24
enter marks: 94

welcome akki
age= 24
marks= 94.0

In [7]:
#concatenation
str1 = "aa"
len1 = len(str1)
print(len1)
str2 = "fttt"
len2 = len(str2)
print(len2)
print(str1+str2)

2
4
aafttt

In [9]:
#indexing 0 1 2 3 4 5 6 7 8 9
str = "hello world"
print(str[2])

l

In [17]:
#slicing
str = "hello world"
print(str[1:4])

#negative index -5 -4 -3 -2 -1
str = "hello world"
print(str[-4:-1])

ell
orl

In [21]:
str = "hello world"
print(str.endswith("rld")

True

In [23]:
str = "hello world"
str = str.capitalize()
print(str)

Hello world

In [27]:
str = "hello world"
print(str.replace("world","akki"))

hello akki

In [29]:
str = "hello world"
print(str.find("o"))

4

In [31]:
str = "hello world"
print(str.count("o"))

2

In [33]:
name = input("enter your name:")
print("length of your name is",len(name))

enter your name: akki

length of your name is 4

In [47]:
#if-elif-else (syntax)
#if = if the statement is true then it gives the output
age = 15
if(age>=18):
    print("can vote")
elif(age==17):
    print("no")
else:
    print("not eligible")

not eligible

In [49]:
#nesting (usind another if statment in if statment)
age = 30

if(age>=18):
    if(age>=80):
        print("cannot drive")
    else:
        print("can drive")
else:
    print("can't drive")

can drive

In [1]:
#list & tupples
marks = [22,45,65,78,53]
print(marks)

[22, 45, 65, 78, 53]

In [3]:
#append (adds one element at the end)
list = [2,1,3]
list.append(4)
print(list)

[2, 1, 3, 4]

In [5]:
#sort() (sorts in ascendiing order)
list = [2,1,3]
list.sort()
print(list)

[1, 2, 3]

In [7]:
#sort(reverse=True) lis in descending order
list = [2,1,3]
list.sort(reverse=True)
print(list)

[3, 2, 1]

In [9]:
#reverse() reverse list
list = [2,1,3]
list.reverse()
print(list)

[3, 1, 2]

In [11]:
#insert(index,element)(to insert element at index)
list = [2,1,3]
list.insert(1,5)
print(list)

[2, 5, 1, 3]

In [17]:
#remove(1) removes first occurence of element
list = [2,1,3,1]
list.remove(1)
print(list)

[2, 3, 1]

In [19]:
#pop(index) removes element at index
list = [2,1,3]
list.pop(0)
print(list)

[1, 3]

In [23]:
#tuples
tup = (1,2,1,3)
print(tup[0])
print(tup[2])

1
1

In [25]:
tup = (1,)
print(tup)

(1,)

In [33]:
#slicing in tupple
tup = (1,2,1,3)
print(tup[1:3])

(2, 1)

In [31]:
#index in tupple
tup = (1,2,1,3)
print(tup.index(2))

1

In [37]:
#count in tupple
tup = (1,2,1,3)
print(tup.count(1))

2

In [41]:
movies =[]
mov1 = input("enter 1st movie:")
mov2 = input("enter 2nd movie:")
mov3 = input("enter 3rd movie:")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

enter 1st movie: deadpool
enter 2nd movie: venom
enter 3rd movie: spiderman

['deadpool', 'venom', 'spiderman']

In [49]:
#palindrome (things which are same at starting and end)
list1 = [1,2,1]
list2 = [1,2,3]
copy_list1 = list1.copy()
copy_list1.reverse()

if(copy_list1 == list1):
    print("palindrome")
else:
    print("not palindrome")

palindrome

In [53]:
# Dictionary & Sets
info = {
    "key":"value",
    "name":"akki",
    "learning":"coding"
}
print(info)

{'key': 'value', 'name': 'akki', 'learning': 'coding'}

In [9]:
#nested dictionary 
student = {
    "name":"akki",
    "subjects":{
        "physics":97,
        "maths":82,
        "science":99
    }
}
print(student)
print(student["subjects"])

{'name': 'akki', 'subjects': {'physics': 97, 'maths': 82, 'science': 99}}
{'physics': 97, 'maths': 82, 'science': 99}

In [29]:
#dict keys
student = {
    "name":"akki",
    "subjects":{
        "phy":97,
        "chem":98,
        "maths":87
    }
}
print(list(student.keys()))
print(len(list(student.keys())))
print(list(student.values()))
print(student.items())
print(student.get("name"))

['name', 'subjects']
2
['akki', {'phy': 97, 'chem': 98, 'maths': 87}]
dict_items([('name', 'akki'), ('subjects', {'phy': 97, 'chem': 98, 'maths': 87})])
akki

In [37]:
#update key
student = {
    "name":"akki",
    "subjects":{
        "phy":97,
        "chem":98,
        "maths":87
    }
}
new_dict = {"city":"delhi"}
student.update(new_dict)
print(student)

{'name': 'akki', 'subjects': {'phy': 97, 'chem': 98, 'maths': 87}, 'city': 'delhi'}

In [39]:
# Sets (it is a collection od un ordered items) and its immutable
set = {1,2,3,4}
print(set)
print(type(set))

{1, 2, 3, 4}
<class 'set'>

In [75]:
#set methods (add(),remove(),clear(),pop()).
collection = {4,5,6}
collection.add(1)
collection.add(2)
collection.remove(1)
collection.clear()
print(len(collection))
print(collection)

0
set()

In [83]:
collection = {"hello","akki","welcome","thankyou"}
print(collection.pop())
print(collection.pop())
print(collection.pop())
print(collection.pop())

akki
hello
thankyou
welcome

In [85]:
#union sets (combines sets)
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union(set2))

{1, 2, 3, 4}

In [87]:
#intersection
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [89]:
dictionary = {
    "cat":"a small animal",
    "table":["a piece od furniture","list of facts & figures"]
}
print(dictionary)

{'cat': 'a small animal', 'table': ['a piece od furniture', 'list of facts & figures']}

In [93]:
subjects = {
    "python","java","c++","python","javascript","java",
    "python","java","c++","c"
}
print(len(subjects))

5

In [97]:
marks = {}
x = int(input("enter phy:"))
marks.update({"phy":x})

y = int(input("enter maths:"))
marks.update({"maths":x})
              
z = int(input("enter chem:"))
marks.update({"chem":x})    

print(marks)

enter phy: 98
enter maths: 97
enter chem: 06

{'phy': 98, 'maths': 98, 'chem': 98}

In [103]:
#to print both values in sets
values = {9,"9.0"}
print(values)

{9, '9.0'}

In [ ]:
#LOOPS (loops are used to repeat instructions)
#while loops
i = 1
while i <= 5:
    print("hello")
    i+=1